body {
    margin: 0;
    padding: 0;
}

/* Title  */
h1 {
    font-size: 2.2em;
    text-align: center;
}

h2 {
    display: none;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

h5 {
    font-size: 1.2em;
}

p {
    font-size: 0.8em;
}

.bg-test {
    display: flex;
    flex-direction: column;
}

.cercle-div {
    display: none;
}

@media(min-width: 576px) {
    h1 {
        font-size: 3.5em;
        text-align: start;
    }

    h2 {
        font-size: 1.7em;
        text-align: start;
        display: initial;
    }

    h3 {
        font-size: 1.7em;
        text-align: start;
    }
    .cercle-div {
        height: 140px;
        width: 140px;
        background-color: blue;
        border-radius: 50%;
        display: initial;
        margin: 8px;
    }

}